@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@model Project.Models.Product*@


        
<div id="content">
       
  


<div class="container">
   
    <div>
    </div>
    <img class="img-polaroid" src="~/Images/@Model.Image" alt="NotFound" style="height: 140px ;width: 140px">
          <br /><br />
    <table class="table table-striped">

    <tbody><tr> 
        <td><strong>Name: </strong></td>
        <td>@Model.Name </td>
    </tr>

    <tr>
        <td><strong>Category: </strong></td>
        <td>@Model.Category</td>
    </tr>

    <tr>
        <td><strong>Description: </strong></td>
        <td><textarea disabled="disabled" style="resize:vertical;width: 80%; height:auto">    @Model.Description
        </textarea> 
        </td>
    </tr>

    <tr>
        <td><strong>Price:</strong></td>
        <td>@Model.Price</td>
    </tr>

    <tr>
        <td></td>
        <td></td>
    </tr>


</tbody></table>
    
    <form class="form-horizontal" action="/Cart/Add" style="margin-top: 30px" method="post" id="1609073864">
  

  <div class="control-group">
   <label class="control-label" for="Quantity">Quantity:</label>
    <div class="controls">
    
        <input class="input-medium" type="text" placeholder="Number of Items" name="Quantity" data-val-required="Quantity is required" data-val="true">
        <span class="field-validation-valid" data-valmsg-for="Quantity" data-valmsg-replace="true"></span>
    </div>
  </div>
        <input type="hidden" name="Price" value="@Model.Price">
        <input type="hidden" name="Name" value="@Model.Name">
        <input type="hidden" name="Category" value="@Model.Category">

          <br /><br />
    <div class="control-group">
    <div class="controls">
        <button type="submit" class="btn btn-primary">Add To Cart</button>
    </div>
  </div>  
</form>  
</div>

  }
    </div>

<!-- javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/Scripts/jquery-1.6.2.js"></script>
<script src="/Scripts/jquery.validate.js"> </script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>
       
        
